<!-- TODO: esta vista la podriamos borrar mas adelante porque el formulario lo usamos en el dashboard -->
<!-- Core theme CSS (includes Bootstrap)-->
<link href="/public/css/fromTemplates/verProducto.css" rel="stylesheet" />

<!-- Form -->
<div class="w-50 my-4 mx-auto">

    <h2 class="mb-4 display-4 text-center">Vista Inicial</h2>
    <p class="text-center">Esto será lo primero que se verá al entrar al modo escritor</p>
</div>
