<!DOCTYPE html>
<html lang="en">
<title>Infonete</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/solar/bootstrap.min.css" integrity="sha384-NCwXci5f5ZqlDw+m7FwZSAwboa0svoPPylIW3Nf+GBDsyVum+yArYnaFLE9UDzLd" crossorigin="anonymous">
<link rel="icon" href="/public/favicon.ico" type="image/x-icon">
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
<!-- Core theme CSS (includes Bootstrap)-->
<link href="/public/css/fromTemplates/verProducto.css" rel="stylesheet" />

<!--W3S -->
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<!--JQUERy-->
<script type="text/javascript" src="//code.jquery.com/jquery-3.6.0.min.js"></script>

<!--TinyMCE-->
<script src="https://cdn.tiny.cloud/1/r28phl4y5rk6psavug0jjci4p01osaabxov3nwutjg9l2tb0/tinymce/6/tinymce.min.js"></script>
<script src="/public/js/tinyMCE.js"></script>

<!--Admin/Escritor view-->
<link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
<link href="/public/css/fromTemplates/estilosEscritor.css" rel="stylesheet" />

<!--Google Charts-->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>


<body class="bg-light">
