<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="/">Infonete</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">
                        <i class="fa-solid fa-house me-2"></i>Inicio
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav d-flex align-items-center">

                {{#esEscritor}}
                    <li class="nav-item">
                        <a class="btn btn-warning text-light mx-2" aria-current="page" href="/escritor">
                            <i class="fa-solid fa-pen-nib me-2"></i> Vista Escritor
                        </a>
                    </li>
                {{/esEscritor}}
                {{#esEditor}}
                    <li class="nav-item">
                        <a class="btn btn-warning text-light ms-2 m-2" aria-current="page" href="/editor">
                            <i class="fa-solid fa-spell-check me-2"></i> Vista Editor
                        </a>
                    </li>
                {{/esEditor}}
                {{#esAdmin}}
                    <li class="nav-item">
                        <a class="btn btn-warning text-light ms-2 m-2" aria-current="page" href="/administrador">
                            <i class="fa-solid fa-screwdriver-wrench me-2"></i> Vista Admin
                        </a>
                    </li>
                {{/esAdmin}}
                {{#isLogged}}
                    <li class nav-item>
                        <a class="btn btn-danger me-2" aria-current="page" href="/login/logout">
                            <i class="fa-solid fa-right-from-bracket me-2"></i> Log out
                        </a>

                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa-solid fa-user"></i>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="btn mb-2" href="/usuario/misSuscripciones/">Mis Suscripciones</a></li>
                            <li><a class="btn" href="/usuario/misEdiciones">Mis Ediciones</a></li>
                        </ul>
                    </li>
                {{/isLogged}}

                {{^isLogged}}
                    <a class="btn btn-success me-1" aria-current="page" href="/login">
                        <i class="fa-solid fa-right-to-bracket me-2"></i>Login
                    </a>
                    <a class="btn btn-info text-white" aria-current="page" href="/registrarse">
                        <i class="fa-solid fa-user-plus me-2"></i>Registrarse
                    </a>
                {{/isLogged}}

            </ul>
        </div>
    </div>
</nav>