{{>header}}
{{>nav}}
    <div class="container my-4 w-75" >

        {{#esEditor}}
            <div class="d-flex justify-content-end py-2">
                {{#articulo}}
                    <a href="/editor/aprobarArticulo/idArticulo={{idArticulo}}" class="btn btn-success me-2">Aprobar</a>
                    <a href="/editor/desaprobarArticulo/idArticulo={{idArticulo}}" class="btn btn-danger me-2">Desaprobar</a>
                    <a href="/editor/bloquearArticulo/idArticulo={{idArticulo}}" class="btn btn-warning text-light me-2">Bloquear</a>
                {{/articulo}}
            </div>
        {{/esEditor}}

{{#usuarioPuedeVerArticulo}}
    <div class="container my-4" style="width: 73rem">
        <div class="row">
            <div class="card">
                {{#articulo}}
                    <div class="card-header">
                        <h6 class="text-muted">{{nombreSeccion}}</h6>
                    </div>
                    <br>
                    <h4 class="card-subtitle">{{subtitulo}}</h4>
                    <h1 class="card-title" style="color: #0089C1;font-weight: 800;">{{titulo}}</h1>
                    <img src="/public/img/portadasDeArticulos/{{portadaArticulo}}" style="width: 70rem;height: 30rem"
                         class="card-img-top" alt=""><br>
                    <div class="card-body">{{{descripcion}}}</div>

                    <h3 class="text-center text-muted">Ubicacion de la noticia</h3>
                    <input type="hidden" id="latitud" value="{{latitud}}">
                    <input type="hidden" id="longitud" value="{{longitud}}">

                    <div id="map" class="m-auto rounded-3 mb-3 w-50" style="height: 300px;"></div>

                    <script>

                        const latitud = parseFloat(document.querySelector('#latitud').value)
                        const longitud = parseFloat(document.querySelector('#longitud').value)

                        function initMap(){
                            var coordenadas = {
                                lat: latitud,
                                lng: longitud
                            };
                            var map = new google.maps.Map(document.getElementById('map'),{
                                zoom: 15,
                                center: coordenadas
                            });
                            var marker = new google.maps.Marker({
                                map: map,
                                position: coordenadas,
                            });
                        }

                    </script>
                    <!--API Maps-->
                    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDaeWicvigtP9xPv919E-RNoxfvC-Hqik&callback=initMap"></script>

                {{/articulo}}
            </div>
        </div>


    </div>
{{/usuarioPuedeVerArticulo}}

{{^usuarioPuedeVerArticulo}}
    <div class="mx-auto my-3 text-center w-75">
        <h3 class="alert bg-warning">Usted debe de estar suscripto o haber comprado la edicion para ver los articulos</h3>
    </div>
{{/usuarioPuedeVerArticulo}}