{{>header}}
{{>nav}}
<header class="bg-dark py-1 ">
    <div class="container px-4 px-lg-5 my-5 bg-dark">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Mis Suscripciones</h1>
        </div>
    </div>
</header>
<main class="container d-flex justify-content-around mb-5">
    {{#noTieneEdiciones}}
        <div class="mx-auto my-3 text-center w-75">
            <h3 class="alert bg-info">No tienes Ediciones adquiridas</h3>
        </div>
    {{/noTieneEdiciones}}
    {{#ediciones}}
        <section class="shadow p-4 rounded col-lg-5 my-3
                        d-flex justify-content-around align-items-center flex-wrap
                        container row" style="/*background-color: #d0d0d0*/">
            <article class="col-6">
                <h4 class="w-100 mb-1">{{prodNombre}}</h4>
                <h5 class="w-100 mb-3 fw-light">
                    Edicion nro. {{edNumero}}
                </h5>
                <div>
                    <p>Importe pagado: <strong>{{precio}}</strong></p>
                    <p>Fecha de Compra: <strong>{{fecha}}</strong></p>
                    <a class="btn btn-info w-100" href="/edicion/listarArticulos/idProducto={{prodId}}&idEdicion={{idEdicion}}">Ver</a>
                </div>
            </article>
            <article class="col-5 d-flex justify-content-center align-items-center">
                <img src="/public/img/portadasDeEdicion/{{edPortada}}"
                     alt="imagenDePortada"
                     class="w-100 rounded">
            </article>
        </section>
    {{/ediciones}}
</main>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>