{{>header}}
{{>nav}}

<div class="container my-3 border-0">
    <div class="row d-flex border-0">
        {{#articulosDeLaEdicion}}
        <div class="card border-0" style="width: 28rem;" >

                <a href="/articulo/verArticulo/articulo={{idArticulo}}&idProducto={{idProducto}}&idEdicion={{idEdicion}}" style="color: black;text-decoration: none">
                    <img src="/public/img/portadasDeArticulos/{{portadaArticulo}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-muted">{{seccion}}</h6>
                        <h2 class="card-title">{{titulo}}</h2>
                        <h5 class="card-subtitle">{{subtitulo}}</h5>
                    </div>
                </a>

        </div>
        {{/articulosDeLaEdicion}}
    </div>
</div>


{{>footer}}