{{>header}}
{{>nav}}

<div class="container my-3">
    <div class="row">
        <div class="card" style="width: 30rem;" >
            {{#articulosDeLaEdicion}}
                <a href="/articulo/verArticulo/articulo={{idArticulo}}&idProducto={{idProducto}}" style="color: black;text-decoration: none">
                    <img src="/public/img/portadasDeArticulos/{{portadaArticulo}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-muted">{{seccion}}</h6>
                        <h2 class="card-title">{{titulo}}</h2>
                        <h5 class="card-subtitle">{{subtitulo}}</h5>
                    </div>
                </a>
            {{/articulosDeLaEdicion}}
        </div>
        {{#usuarioSuscripto}}esta suscripto{{/usuarioSuscripto}}
    </div>
</div>


{{>footer}}