{{>header}}
{{>nav2}}
<div id="layoutSidenav">
    {{#esAdmin}}
        {{>navLatAdmin}}
    {{/esAdmin}}
    {{#esEscritor}}
        {{>navLatEscritor}}
    {{/esEscritor}}
    <div id="layoutSidenav_content">
        <div class="container-fluid">

            <h2 class="display-4 text-center my-3">Editar Producto</h2>
            <div class="container w-50">
                {{#producto}}
                <form action="/escritor/editarProducto/id={{idProducto}}" method="post" enctype="multipart/form-data">

                    <div class="mb-3">
                        <label for="nombre-producto" class="form-label">Nombre del producto</label>
                        <input type="text" class="form-control" id="nombre-producto" name="nombre" value="{{nombre}}">
                    </div>

                    <div class="mb-3">
                        <label for="tipo-producto" class="form-label">Tipo de publicacion</label>
                        <select class="form-select" name="tipoProducto" required>
                            <option value="{{idTipo}}" selected>{{tipoProducto}}</option>
                            <option value="1">Revista</option>
                            <option value="2">Diario</option>
                        </select>
                    </div>

                    <div class="mb-3">
                        <label for="formFile" class="form-label">Portada del producto</label>
                        <input class="form-control" type="file" id="formFile" name="portada">
                    </div>

                    <div class="mb-3">
                        <label for="nombre-producto" class="form-label">Precio por suscripcion</label>
                        <input type="number" class="form-control" id="nombre-producto" name="precioSuscripcion" value="{{precioSuscripcion}}">
                    </div>

                    <input type="submit" class="btn btn-outline-dark" value="Editar">

                </form>
                {{/producto}}
            </div>
        </div>
    </div>

</div>