{{>header}}
{{>nav2}}
<div id="layoutSidenav">
    {{>navLatEscritor}}
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <!-- contenido -->
                <h1 class="text-center mt-3 fw-lighter">Inicio</h1>

                {{#mensaje}}
                <p class="text-center bg-success w-100 text-light p-2">{{mensaje}}</p>
                {{/mensaje}}
            </div>


{{>footer}}