{{>header}}
{{>nav2}}
<div id="layoutSidenav">
    {{>navLatEscritor}}
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <!-- contenido -->
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Numero</th>
                        <th scope="col">Precio</th>
                        <th scope="col">???</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#ediciones}}
                        <tr>
                            <th scope="row">{{idEdicion}}</th>
                            <td>{{numero}}</td>
                            <td>${{precio}}</td>
                            <td><img src="/public/img/portadasDeProducto/{{portadaProducto}}" width="50"></td>
                            <td>
                                <a href="/escritor/llamarFormularioEdicion/id={{idEdicion}}" class="btn btn-info">Editar</a>
                                <!--<a href="/escritor/eliminarProducto/id={{idEdicion}}" class="btn btn-danger">Eliminar</a>-->
                            </td>
                        </tr>
                    {{/ediciones}}
                    </tbody>
                </table>
            </div>
{{>footer}}