{{>header}}
{{>nav2}}
<div id="layoutSidenav">
    {{#esEscritor}}
        {{>navLatEscritor}}
    {{/esEscritor}}
    {{#esEditor}}
        {{>navLatEditor}}
    {{/esEditor}}
    {{#esAdmin}}
        {{>navLatAdmin}}
    {{/esAdmin}}
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <!-- contenido -->
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Titulo</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#articulos}}
                        <tr>
                            <th scope="row">{{idArticulo}}</th>
                            <td>{{titulo}}</td>
                            <td>{{estado}}</td>

                            {{#esEscritor}}
                            <td>
                                    <a href="/escritor/llamarFormularioEditarArticulo/id={{idArticulo}}" class="btn btn-info">Editar</a>
                                <!--<a href="/escritor/eliminarProducto/id={{idArticulo}}" class="btn btn-danger">Eliminar</a>-->
                            </td>
                            {{/esEscritor}}

                            {{#esEditor}}
                            <td>
                                <a href="/articulo/verArticulo/articulo={{idArticulo}}" class="btn btn-info">Ver</a>
                                <a href="/editor/aprobarArticulo/idArticulo={{idArticulo}}" class="btn btn-success">Aprobar</a>
                                <a href="/editor/desaprobarArticulo/idArticulo={{idArticulo}}" class="btn btn-danger">Desaprobar</a>
                            </td>
                            {{/esEditor}}
                        </tr>
                    {{/articulos}}
                    </tbody>
                </table>
            </div>
{{>footer}}