{{>header}}
{{>nav2}}
<div id="layoutSidenav">
    {{#esEscritor}}
        {{>navLatEscritor}}
    {{/esEscritor}}
    {{#esEditor}}
        {{>navLatEditor}}
    {{/esEditor}}
    {{#esAdmin}}
        {{>navLatAdmin}}
    {{/esAdmin}}
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">


            <!-- contenido -->
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Tipo de Producto</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Portada</th>
                        <th scope="col">Precio por Suscripcion</th>
                        <th scope="col">Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#productos}}
                        <tr>
                            <td scope="row">{{idProducto}}</td>
                            <td>{{nombre}}</td>
                            <td>{{tipoProducto}}</td>
                            <td>{{nombreEstado}}</td>
                            <td><img src="/public/img/portadasDeProducto/{{portada}}" width="50"></td>
                            <td>${{precioSuscripcion}}</td>
                            <td>
                        {{#esEscritor}}
                                <a href="/escritor/llamarFormularioProducto/id={{idProducto}}" class="btn btn-info">Editar</a>
                        {{/esEscritor}}
                        {{#esEditor}}
                            <a href="/administrador/altaProducto/id={{idProducto}}" class="btn btn-success">Habilitar</a>
                        {{/esEditor}}
                        {{#esAdmin}}
                                <a href="/administrador/bajaProducto/id={{idProducto}}" class="btn btn-danger">Baja</a>
                                <a href="/administrador/altaProducto/id={{idProducto}}" class="btn btn-success">Alta</a>
                        {{/esAdmin}}
                            </td>
                        </tr>
                    {{/productos}}
                    </tbody>
                </table>
            </div>
{{>footer}}