{{> header}}
<div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">
    <h2 class="w3-wide">Bienvenido!!</h2>
    <div id="form" class="w3-margin">
        <form action="/login/FormularioLogin" method="post">

            <input class="w3-input w3-margin-bottom"
                   style="width: 50%; margin: auto"
                   type="email" name="email" placeholder="Ingrese su Email" required>

            <input class="w3-input w3-margin-bottom"
                   style="width: 50%; margin: auto"
                   type="password" name="password" placeholder="Ingrese su Contraseña" required>

            <input class="w3-button w3-green" type="submit" value="Ingresar">
        </form>
    </div>
    <strong class="text-danger">
        {{mensaje}}
    </strong>
</div>
{{> footer}}