{{> header}}
<div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">
    <h2 class="w3-wide">Registrate!</h2>
    <form action="/registrarse/procesarFormularioRegistrarseLector" method="POST">
        <input type="text" name="nombre" placeholder="nombre"><br><br>
        <input type="text" name="email" placeholder="email"><br><br>
        <input type="text" name="password" placeholder="password"><br><br>
        <input type="text" name="direccion" placeholder="direccion"><br><br>
        <input type="submit" value="Enviar">
    </form>
</div>
{{> footer}}
