<!-- TODO: despues hay que cambiar el nombre de la vista por registroView o algo asi -->

{{> header}}
<div class="container w-50">

    <h2 class="display-4 text-center my-3">Registrarme en Infonete</h2>

    <form action="/registrarse/procesarFormularioRegistrarseLector" method="POST">

        <input class="form-control my-3" type="text" name="nombre" placeholder="Ingrese su nombre" required>
        <input class="form-control my-3" type="email" name="email" placeholder="Ingrese su email" required>
        <input class="form-control my-3" type="password" name="password" placeholder="Ingrese su contraseña" required>
        <input class="form-control my-3" type="text" name="direccion" placeholder="Ingrese su direccion" required>

        <input class="btn btn-outline-dark" type="submit" value="Registrar">
    </form>

    <h4 class="alert text-danger text-center">{{mensaje}}</h4>

</div>
{{> footer}}