<!-- TODO: despues hay que cambiar el nombre de la vista por registroView o algo asi -->

{{> header}}
{{>nav}}
<div class="container w-50">

    {{#mensajeActivacion}}
        <div class="alert alert-success alert-dismissible fade show my-3" role="alert">
            <h2 class="fs-4 text-white text-center">{{mensajeActivacion}}</h2>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {{/mensajeActivacion}}

    <h2 class="display-4 text-center my-3">Registrarme en Infonete</h2>

    <form action="/registrarse/procesarFormularioRegistrarseLector" method="POST">

        <input class="form-control my-3" type="text" name="nombre" placeholder="Ingrese su nombre" required>
        <input class="form-control my-3" type="email" name="email" placeholder="Ingrese su email" required>

        <div class="input-group my-3">
            <input class="form-control" type="password" name="password" id="campoPassword" placeholder="Ingrese su contraseña" required>
            <a href="#" class="input-group-text" id="btnMostrarPassword"><i class="fa-solid fa-eye"></i></a>
        </div>



        <input class="form-control my-3" type="hidden" id="latitud" name="latitud">
        <input class="form-control my-3" type="hidden" id="longitud" name="longitud">


        <div id="map" class="m-auto rounded-3" style="width: 100%; height: 300px;"></div>

        <input class="btn btn-outline-dark mt-3" type="submit" value="Registrar">
    </form>

    <h4 class="alert text-danger text-center">{{mensaje}}</h4>

</div>

<script>
    function initMap(){
        var coordenadas = {
            lat: -34.67312,
            lng: -58.48061
        };
        var map = new google.maps.Map(document.getElementById('map'),{
            zoom: 15,
            center: coordenadas
        });
        var marker = new google.maps.Marker({
            map: map,
            position: coordenadas,
            draggable: true
        });

        /* Esto salta como deprecado, pero no pude hacerlo andar con addEventListener
        *  (no estoy seguro si es por un problema de la api key)
        *  */
        google.maps.event.addListener(marker,'dragend',function() {
            document.querySelector('#latitud').value = marker.getPosition().lat();
            document.querySelector('#longitud').value = marker.getPosition().lng();
        });
    }
</script>

<script>

    const campoPassword = document.querySelector('#campoPassword');
    const btn = document.querySelector('#btnMostrarPassword');

    btn.addEventListener('click', () => {

        if (campoPassword.getAttribute('type') == 'password') {
            campoPassword.setAttribute('type', 'text');
        } else {
            campoPassword.setAttribute('type', 'password');
        }

    });

</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDaeWicvigtP9xPv919E-RNoxfvC-Hqik&callback=initMap"></script>

{{> footer}}