<!DOCTYPE html>
<html>
<head>
    <style>
        #tabla {
            font-family: Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        #tabla td,
        #tabla th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #tabla tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #tabla tr:hover {
            background-color: #ddd;
        }

        #tabla th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #2345b6;
            color: white;
        }
    </style>
</head>

<body>

<h1 style="text-align: center; font-family: sans-serif">Reporte ediciones vendidas</h1>

<table id="tabla">
    <tr>
        <th>ID</th>
        <th>Numero</th>
        <th>Creada el</th>
        <th>Precio</th>
        <th>Producto Perteneciente</th>
        <th>Cantidad de Ventas</th>
    </tr>
    {{#edicionesVendidas}}
        <tr>
            <td>{{idEdicion}}</td>
            <td>{{numero}}</td>
            <td>{{fechaEdicion}}</td>
            <td>${{precio}}</td>
            <td>{{producto}}</td>
            <td>{{vecesComprada}}</td>
        </tr>
    {{/edicionesVendidas}}
</table>

</body>
</html>