{{>header}}
{{>nav}}
<header class="bg-dark py-1 ">
    <div class="container px-4 px-lg-5 my-5 bg-dark">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Mis Suscripciones</h1>
        </div>
    </div>
</header>
<section class="container d-flex justify-content-around mb-5 flex-wrap">
    {{#noEstaSuscriptoANada}}
        <div class="mx-auto my-3 text-center w-75">
            <h3 class="alert bg-warning">No estás suscripto a ningún producto</h3>
        </div>

    {{/noEstaSuscriptoANada}}

    {{#suscripciones}}
        <article class="shadow p-4 rounded col-lg-5 my-3
                        d-flex justify-content-around align-items-center flex-wrap
                        container row"
                 style="/*background-color: #d0d0d0*/">
            <div class="col-6">
                <h4 class="w-100 mb-1">{{prNombre}}</h4>
                <h5 class="w-100 mb-3 fw-light">
                    Desde <strong>{{fechaInicio}}</strong> <br> hasta <strong>{{fechaVencimiento}}</strong>
                </h5>
                <div>
                    <p>Importe pagado: <strong>{{precio}}</strong></p>
                    <a class="btn btn-info w-100" href="/producto/vistaPreviaProducto/idProducto={{idProducto}}">Ver</a>
                </div>
            </div>
            <div class="col-5 justify-content-center align-items-center">
                <img src="/public/img/portadasDeProducto/{{prPortada}}"
                     alt="imagenDePortada"
                     class="w-100 rounded">
            </div>

        </article>
    {{/suscripciones}}
    {{^suscripciones}}
        <div class="alert bg-warning">
            <h3>No estas suscripto a ninguna revista</h3>
        </div>
    {{/suscripciones}}
</section>

{{>footer}}
